<div class="flex flex-row breadcrumb p-2">
    <a routerLink="/" class="breadcrumb-item flex flex-row" (click)="closeSubMenus()">
        <mat-icon
            class="icon-size-6 text-secondary"
            [svgIcon]="'heroicons_outline:home'"></mat-icon>
<!--        <span class="breadcrumb-title">Home</span>-->
    </a>
    <div *ngFor="let breadcrumb of breadcrumbs; let i = index;" class="breadcrumb-item flex flex-row self-center">
        <a [hidden]="i == (breadcrumbs.length - 1)" [routerLink]="[breadcrumb.url]">{{breadcrumb.name}}</a>
        <span [hidden]="i != (breadcrumbs.length - 1)" class="breadcrumb-title active">{{breadcrumb.name}}</span>
    </div>
</div>


