.favorites-container{

    //padding: 0 20px 0 6px;
    //&:after {
    //    font-family: FontAwesome;
    //    content: "\f004";
    //    color: #DD1B16;
    //    position: absolute;
    //    right: 4px;
    //    top: 1px;
    //    pointer-events: none;
    //    cursor: pointer;
    //}
    &.show-list{
        width: 242px;
        border: none !important;
    }
    ul.list-inline{
        white-space: nowrap;
        overflow: hidden;
        .list-inline-item{
            margin-right: 10px;
        }
    }
}




@-webkit-keyframes arrow-jump {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.7;
        -webkit-transform: translateX(10px);
    }
    100%{
        opacity: 0;
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes arrow-jump {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.7;
        -moz-transform: translateX(10px);
    }
    100%{
        opacity: 0;
        -moz-transform: translateX(0);
    }
}
@-o-keyframes arrow-jump {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.7;
        -o-transform: translateX(10px);
    }
    100%{
        opacity: 0;
        -o-transform: translateX(0);
    }
}
@keyframes arrow-jump {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.7;
        transform: translateX(10px);
    }
    100%{
        opacity: 0;
        transform: translateX(0);
    }
}
#arrow {
  -webkit-animation: arrow-jump 2s infinite;
  -moz-animation:    arrow-jump 2s infinite;
  -o-animation:      arrow-jump 2s infinite;
  animation:         arrow-jump 2s infinite;
}
